name: Calculate code coverage

on:
  workflow_call:
    inputs:
      python-version:
        description: "Python version to use"
        default: "3.10"
        type: string
    secrets:
      CODECOV_TOKEN:

jobs:
  codecov:
    name: Upload coverage to codecov.io
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install and calculate and upload coverage to codecov.io
        uses: greenbone/actions/coverage-python@v3
        with:
          python-version: ${{ inputs.python-version }}
          token: ${{ secrets.CODECOV_TOKEN }}

