name: GEA components Build and Push to Harbor

on:
  workflow_call:
    inputs:
      ref-name:
        description: "The ref to build a container image from. For example a tag v23.0.0."
        type: string
      service:
        description: "The image related compose service name."
        type: string
      build-args:
        description: "Additional build arguments for the container image."
        type: string
      build-context:
        description: "Path to image build context. Default is ."
        default: .
        type: string
      build-docker-file:
        description: "Path to the docker file. Default is .docker/prod.Dockerfile"
        default: .docker/prod.Dockerfile
        type: string
      image-labels:
        description: "Image labels."
        required: true
        type: string
      base-image-label:
        description: "Base image tag (Debian). Possible options: stable, oldstable, testing"
        default: "stable"
        type: string
      image-url:
        description: "Image url/name without registry."
        required: true
        type: string
      notify:
        description: "Enable mattermost notify. Default is true"
        default: "true"
        type: string
      artifact-name:
        description: "The artifact name to download."
        required: false
        type: string
      artifact-path:
        description: "The artifact path to extract the artifact into."
        required: false
        type: string
      notification-channel:
        description: "The name of the channel where the notification happens."
        type: string
        default: "pd2ndgendeployment"

    secrets:
      COSIGN_KEY_OPENSIGHT:
        required: false
      COSIGN_KEY_PASSWORD_OPENSIGHT:
        required: false
      DOCKERHUB_USERNAME:
        required: false
      DOCKERHUB_TOKEN:
        required: false
      GREENBONE_REGISTRY:
        required: false
      GREENBONE_REGISTRY_USER:
        required: false
      GREENBONE_REGISTRY_TOKEN:
        required: false
      GREENBONE_REGISTRY_READ_USER:
        required: false
      GREENBONE_REGISTRY_READ_TOKEN:
        required: false
      GREENBONE_BOT_TOKEN:
        required: false
      GREENBONE_REGISTRY_REPLICATION_USER:
        required: false
      GREENBONE_REGISTRY_REPLICATION_TOKEN:
        required: false
      MATTERMOST_WEBHOOK_URL:
        required: false

# INFO
# We cannot use a matrix here because job outputs from matrix jobs cannot be passed to other jobs.
# Due to cosign and the use of native runners, we cannot use the platform build mode from buildx anymore.
# This means we have to build our own multi-arch manifest.

jobs:
  build-amd64:
    runs-on: self-hosted-generic
    outputs:
      digest: ${{ steps.build-and-push.outputs.digest }}
      tags: ${{ steps.build-and-push.outputs.tags }}
      annotations: ${{ steps.build-and-push.outputs.annotations }}
      is-latest-tag: ${{ steps.latest.outputs.is-latest-tag }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.ref-name }}

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        if: inputs.artifact-name
        with:
          name: ${{ inputs.artifact-name }}
          path: ${{ inputs.artifact-path }}

      - name: Fetch tags
        run: |
          git fetch --tags --force
          git status
          echo ${{ inputs.ref-name }}

      - uses: greenbone/actions/is-latest-tag@v3
        id: latest
        with:
          # It looks like the action doesn't use its default value even when an empty input is set.
          tag-name: ${{ inputs.ref-name || github.ref_name }}

      - name: Set container build args
        id: container-opts
        run: |
          if [[ -z "${{ inputs.build-args}}" ]]; then
            if [[ "${{ github.ref_type }}" = 'tag' ]]; then
              echo 'build-args<<EOF' >> $GITHUB_OUTPUT
              echo "VERSION=stable" >> $GITHUB_OUTPUT
              echo "GVM_LIBS_VERSION=oldstable" >> $GITHUB_OUTPUT
              echo "IMAGE_REGISTRY=${{ vars.IMAGE_REGISTRY }}" >> $GITHUB_OUTPUT
              echo 'EOF' >> $GITHUB_OUTPUT
            else
              echo 'build-args<<EOF' >> $GITHUB_OUTPUT
              echo "VERSION=edge" >> $GITHUB_OUTPUT
              echo "GVM_LIBS_VERSION=oldstable-edge" >> $GITHUB_OUTPUT
              echo "IMAGE_REGISTRY=${{ vars.IMAGE_REGISTRY }}" >> $GITHUB_OUTPUT
              echo 'EOF' >> $GITHUB_OUTPUT
            fi
          else
            echo "build-args=${{ inputs.build-args }}" >> $GITHUB_OUTPUT
          fi

      - name: Container build and push 2nd gen
        id: build-and-push
        uses: greenbone/actions/container-build-push-generic@v3
        with:
          build-context: ${{ inputs.build-context }}
          build-docker-file: ${{ inputs.build-docker-file }}
          build-args: ${{ steps.container-opts.outputs.build-args }}
          image-url: ${{ inputs.image-url }}
          image-labels: ${{ inputs.image-labels }}
          image-tags: raw,value=${{ inputs.ref-name || github.ref_name }}-amd64 # temporary tag that will be overwritten with the manifest upload
          image-platforms: linux/amd64
          image-flavor: latest=false
          registry: ${{ vars.GREENBONE_REGISTRY }}
          registry-username: ${{ secrets.GREENBONE_REGISTRY_USER }}
          registry-password: ${{ secrets.GREENBONE_REGISTRY_TOKEN }}
          scout-user: ${{ secrets.DOCKERHUB_USERNAME }}
          scout-password: ${{ secrets.DOCKERHUB_TOKEN }}
          scout-command: cves

  build-arm64:
    # At the moment we don't have enough arm runners to provide a run for every PR!
    if: github.event_name != 'pull_request'
    runs-on: self-hosted-generic-arm64
    outputs:
      digest: ${{ steps.build-and-push.outputs.digest }}
      tags: ${{ steps.build-and-push.outputs.tags }}
      annotations: ${{ steps.build-and-push.outputs.annotations }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.ref-name }}

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        if: inputs.artifact-name
        with:
          name: ${{ inputs.artifact-name }}
          path: ${{ inputs.artifact-path }}

      - name: Set container build args
        id: container-opts
        run: |
          if [[ -z "${{ inputs.build-args}}" ]]; then
            if [[ "${{ github.ref_type }}" = 'tag' ]]; then
              echo 'build-args<<EOF' >> $GITHUB_OUTPUT
              echo "VERSION=stable" >> $GITHUB_OUTPUT
              echo "GVM_LIBS_VERSION=oldstable" >> $GITHUB_OUTPUT
              echo "IMAGE_REGISTRY=${{ vars.IMAGE_REGISTRY }}" >> $GITHUB_OUTPUT
              echo 'EOF' >> $GITHUB_OUTPUT
            else
              echo 'build-args<<EOF' >> $GITHUB_OUTPUT
              echo "VERSION=edge" >> $GITHUB_OUTPUT
              echo "GVM_LIBS_VERSION=oldstable-edge" >> $GITHUB_OUTPUT
              echo "IMAGE_REGISTRY=${{ vars.IMAGE_REGISTRY }}" >> $GITHUB_OUTPUT
              echo 'EOF' >> $GITHUB_OUTPUT
            fi
          else
            echo "build-args=${{ inputs.build-args }}" >> $GITHUB_OUTPUT
          fi

      - name: Container build and push 2nd gen
        id: build-and-push
        uses: greenbone/actions/container-build-push-generic@v3
        with:
          build-context: ${{ inputs.build-context }}
          build-docker-file: ${{ inputs.build-docker-file }}
          build-args: ${{ steps.container-opts.outputs.build-args }}
          image-url: ${{ inputs.image-url }}
          image-labels: ${{ inputs.image-labels }}
          image-tags: raw,value=${{ inputs.ref-name || github.ref_name }}-arm64 # temporary tag that will be overwritten with the manifest upload
          image-platforms: linux/arm64
          image-flavor: latest=false
          registry: ${{ vars.GREENBONE_REGISTRY }}
          registry-username: ${{ secrets.GREENBONE_REGISTRY_USER }}
          registry-password: ${{ secrets.GREENBONE_REGISTRY_TOKEN }}
          scout-user: ${{ secrets.DOCKERHUB_USERNAME }}
          scout-password: ${{ secrets.DOCKERHUB_TOKEN }}
          scout-command: cves

  create-multi-arch-manifest:
    if: github.event_name != 'pull_request'
    runs-on: self-hosted-generic
    needs:
      - build-amd64
      - build-arm64
    outputs:
      digest: ${{ steps.manifest.outputs.digest }}
      compose-url: ${{ steps.url.outputs.compose_url }}
      image-name: ${{ steps.url.outputs.name }}

    steps:
      - name: Get branch
        id: branch
        run: |
          if [ -z "${{ github.event_name == 'workflow_dispatch' }}" ]; then
              echo "branch=${{ inputs.ref-name }}" >> $GITHUB_OUTPUT
          else
              echo "branch=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          fi
      - name: prepare conditions
        id: conditions
        run: |
          echo "ENABLE_STABLE=${{ github.event_name != 'workflow_dispatch' && (needs.build-amd64.outputs.is-latest-tag == 'true') && (inputs.base-image-label == 'stable')}}" >> $GITHUB_OUTPUT 
          echo "branch=${{ steps.branch.outputs.branch }}"

      - name: Generate URL
        shell: bash
        id: url
        run: |
          OPENVAS_URL="$(echo "${{ inputs.image-url }}" | sed 's@community/@openvas-detect-dev/@')"
          OPENVAS_SCAN_URL="$(echo "${{ inputs.image-url }}" | sed 's@community/@openvas-scan-dev/@')"
          if [ "${{ inputs.service }}" ]; then
            echo 'url<<EOF' >> $GITHUB_OUTPUT
            echo "${{ vars.GREENBONE_REGISTRY }}/${{ inputs.image-url }}" >> $GITHUB_OUTPUT
            echo "${{ vars.GREENBONE_REGISTRY }}/${OPENVAS_URL}" >> $GITHUB_OUTPUT
            echo "${{ vars.GREENBONE_REGISTRY }}/${OPENVAS_SCAN_URL}" >> $GITHUB_OUTPUT
            echo 'EOF' >> $GITHUB_OUTPUT
            echo "compose_url=$OPENVAS_URL" >> $GITHUB_OUTPUT
          else
            echo 'url<<EOF' >> $GITHUB_OUTPUT
            echo "${{ vars.GREENBONE_REGISTRY }}/${{ inputs.image-url }}" >> $GITHUB_OUTPUT
            echo "${{ vars.GREENBONE_REGISTRY }}/${OPENVAS_SCAN_URL}" >> $GITHUB_OUTPUT
            echo 'EOF' >> $GITHUB_OUTPUT
            echo "compose_url=${{ inputs.image-url }}" >> $GITHUB_OUTPUT
          fi
          echo "name=$(basename ${{ inputs.image-url }})" >> $GITHUB_OUTPUT
      
      - name: Generate Docker metadata
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: ${{ steps.url.outputs.url }}
          flavor: latest=false
          tags: |
            type=raw,value=latest,enable=${{ (needs.build-amd64.outputs.is-latest-tag == 'true') && (inputs.base-image-label == 'stable') }}
            type=raw,value=stable,enable=${{ (needs.build-amd64.outputs.is-latest-tag == 'true') && (inputs.base-image-label == 'stable') }}
            type=semver,pattern={{version}},enable=${{ steps.conditions.outputs.ENABLE_STABLE }}
            type=raw,value=${{ github.ref_name }},enable=${{ steps.conditions.outputs.ENABLE_STABLE }}
            type=semver,pattern={{major}},enable=${{ steps.conditions.outputs.ENABLE_STABLE }}
            type=semver,pattern={{major}}.{{minor}},enable=${{ steps.conditions.outputs.ENABLE_STABLE }}
            type=semver,pattern={{version}},value=${{ inputs.ref-name }},enable=${{ github.event_name == 'workflow_dispatch' && (inputs.base-image-label == 'stable') }}
            type=raw,value=${{ inputs.ref-name }},enable=${{ github.event_name == 'workflow_dispatch' && (inputs.base-image-label == 'stable') }}
            type=semver,pattern={{major}}.{{minor}},value=${{ inputs.ref-name }},enable=${{ github.event_name == 'workflow_dispatch' && (inputs.base-image-label == 'stable') }}
            type=semver,pattern={{major}},value=${{ inputs.ref-name }},enable=${{ github.event_name == 'workflow_dispatch' && (inputs.base-image-label == 'stable') }}

            type=raw,value=edge,enable=${{(steps.branch.outputs.branch == 'main') && (inputs.base-image-label == 'stable') }}

            type=raw,value=oldstable,enable=${{ (needs.build-amd64.outputs.is-latest-tag == 'true') && (inputs.base-image-label == 'oldstable') }}
            type=raw,value=oldstable-edge,enable=${{ (steps.branch.outputs.branch == 'main') && (inputs.base-image-label == 'oldstable') }}

            type=raw,value=testing,enable=${{ (needs.build-amd64.outputs.is-latest-tag == 'true') && (inputs.base-image-label == 'testing') }}
            type=raw,value=testing-edge,enable=${{ (steps.branch.outputs.branch == 'main') && (inputs.base-image-label == 'testing') }}

      - name: Create multi arch manifest
        id: manifest
        uses: greenbone/actions/container-multi-arch-manifest@v3
        with:
          cosign-key: ${{ secrets.COSIGN_KEY_OPENSIGHT }}
          cosign-key-password: ${{ secrets.COSIGN_KEY_PASSWORD_OPENSIGHT }}
          cosign-tlog-upload: "false"
          annotations: |
            ${{ needs.build-amd64.outputs.annotations }}
            ${{ needs.build-arm64.outputs.annotations }}
          meta-tags: ${{ steps.meta.outputs.tags }}
          digests: |
            ${{ needs.build-amd64.outputs.digest }}
            ${{ needs.build-arm64.outputs.digest }}
          url: ${{ inputs.image-url }}
          registry: ${{ vars.GREENBONE_REGISTRY }}
          registry-username: ${{ secrets.GREENBONE_REGISTRY_USER }}
          registry-password: ${{ secrets.GREENBONE_REGISTRY_TOKEN }}

  harbor-replication:
    if: github.event_name != 'pull_request'
    needs: create-multi-arch-manifest
    runs-on: self-hosted-generic
    steps:
      - name: Trigger harbor replication
        uses: greenbone/actions/trigger-harbor-replication@v3
        with:
          registry: ${{ vars.GREENBONE_REGISTRY }}
          user: ${{ secrets.GREENBONE_REGISTRY_REPLICATION_USER }}
          token: ${{ secrets.GREENBONE_REGISTRY_REPLICATION_TOKEN }}

  # push-sbom and building-product-compose are only started for services used in automatix
  push-sbom:
    name: Scan image and push SBOM
    if: startsWith(github.ref, 'refs/tags/v') && inputs.service
    needs: 
      - create-multi-arch-manifest
      - harbor-replication
    uses: greenbone/workflows/.github/workflows/generate-and-push-sbom-with-trivy-3rd-gen.yml@main
    with:
      image-url: "${{ vars.GREENBONE_REGISTRY }}/${{ needs.create-multi-arch-manifest.outputs.compose-url }}:${{ inputs.ref-name || github.ref_name }}"
      image-registry-username-secret-name: "GREENBONE_REGISTRY_READ_USER"
      image-registry-password-secret-name: "GREENBONE_REGISTRY_READ_TOKEN"
      output-file-name: "${{ needs.create-multi-arch-manifest.outputs.image-name }}.${{ github.ref_name }}.sbom.json"
      artifact-url: "${{ vars.GREENBONE_REGISTRY }}/${{ needs.create-multi-arch-manifest.outputs.compose-url }}-sbom:${{ inputs.ref-name || github.ref_name }}"
    secrets: inherit

  # push-sbom and building-product-compose are only started for services used in automatix
  building-product-compose:
    if: startsWith(github.ref, 'refs/tags/v') && inputs.service
    needs:
      - create-multi-arch-manifest
      - harbor-replication
      - push-sbom
    runs-on: "ubuntu-latest"
    steps:
      - name: Trigger product compose upgrade
        uses: greenbone/actions/trigger-workflow@v3
        with:
          token: ${{ secrets.GREENBONE_BOT_TOKEN }}
          repository: "greenbone/automatix"
          workflow: "push.yml"
          inputs: '{"service": "${{ inputs.service }}", "image-url": "${{ needs.create-multi-arch-manifest.outputs.compose-url }}", "digest": "${{ needs.create-multi-arch-manifest.outputs.digest }}", "version": "${{ inputs.ref-name || github.ref_name }}"}'

  notify:
    needs:
      - build-amd64
      - build-arm64
      - create-multi-arch-manifest
      - harbor-replication
    if: ${{ !cancelled()  && startsWith(inputs.notify, 'true') && github.event_name != 'pull_request' }}
    uses: greenbone/workflows/.github/workflows/notify-mattermost-2nd-gen.yml@main
    with:
      status: ${{ contains(needs.*.result, 'failure') && 'failure' || 'success' }}
      channel: ${{ inputs.notification-channel }}
    secrets: inherit
