name: Deploy docs to GitHub Pages

on:
  workflow_call:
    inputs:
      source:
        description: "Directory containing the sources for the documentation"
        default: "docs"
        type: string
      build:
        description: "Directory containing the build of the documentation"
        default: "docs/build/html"
        type: string
      python-version:
        description: "Python version to use"
        default: "3.10"
        type: string
      environment-name:
        description: "Name of the deployment environment"
        default: "github-pages"
        type: string


jobs:
  deploy:
    environment:
      name: ${{ inputs.environment-name }}
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install poetry and dependencies
        uses: greenbone/actions/poetry@v3
        with:
          python-version: ${{ inputs.python-version }}
      - name: Build Documentation
        run: |
          cd ${{ inputs.source }} && poetry run make html
      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: ${{ inputs.build }}
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
