name: Lint Python package

on:
  workflow_call:
    inputs:
      lint-packages:
        description: "Names of the Python packages to be linted"
        type: string
      python-version:
        description: "Python version to use. Default is Python '3.10'."
        default: "3.10"
        type: string
      linter:
        description: "Linter to use: Default is 'pylint'."
        default: "pylint"
        type: string
      formatter:
        description: "Format check to use: Default is 'black --check --diff'."
        default: "black --check --diff"
        type: string

jobs:
  linting:
    name: Linting
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Check and lint python packages
        uses: greenbone/actions/lint-python@v3
        with:
          packages: ${{ inputs.lint-packages }}
          python-version: ${{ inputs.python-version }}
          linter: ${{ inputs.linter }}
          formatter: ${{ inputs.formatter }}
