name: Notify Mattermost Cloud Team

on:
  workflow_call:
    inputs:
      commit:
        description: "The commit used by the github checkout action. Default: github.sha"
        type: string
        default: ${{ github.sha }}
      exit-with-status:
        description: "Exit this job/workflow with the monitored job status. Options: true or false. Default: true"
        type: string
        default: "true"
      channel:
        description: "Mattermost channel. Default: pdcloudtestalerts"
        type: string
        default: "pdcloudtestalerts"
      status:
        description: "The monitored job, job status."
        type: string
        default: "warning"
      days:
        description: "Specifies the number of days to check for outdated PRs. Defaults to 7 days."
        type: string
        default: "7"
    # Dependabot don't have this secrets and on PR's this secrets are not needed.
    secrets:
      MATTERMOST_WEBHOOK_URL:
        required: false

jobs:
  check-old-dependabot-prs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Fetch old Dependabot PRs
        id: fetch_prs
        env:
          GITHUB_TOKEN: ${{ secrets.GREENBONE_BOT_TOKEN }}
          DAYS_AGO: ${{ inputs.days }}
        run: |
          DAYS_AGO_TIMESTAMP=$(date -d "$DAYS_AGO days ago" +%s)
          REPO_NAME=${{ github.repository }}
          gh pr list --label "dependencies" --state "open" --json url,createdAt,title > all_dependabot_prs.json
          
          OLD_PRS=$(cat all_dependabot_prs.json | jq --argjson cutoff "$DAYS_AGO_TIMESTAMP" \
            '.[] | select((.createdAt | fromdateiso8601) < $cutoff)')

          if [[ -z "$OLD_PRS" ]]; then
            echo "OLD_PRS_FOUND=false" >> $GITHUB_OUTPUT
          else
            echo "$OLD_PRS" | jq -r '. | "- **\(.title)**: [View PR](\(.url))"' > old_pr_list.txt
            echo "OLD_PRS_FOUND=true" >> $GITHUB_OUTPUT
            {
              echo "**[DEPENDABOT ALERT] :warning: Overdue Dependabot PRs in Repository: $REPO_NAME**"
              cat old_pr_list.txt
            } > message_with_header.txt
            MESSAGE_TEXT=$(<message_with_header.txt)
            echo "MESSAGE_TEXT<<EOF" >> $GITHUB_OUTPUT
            echo "$MESSAGE_TEXT" >> $GITHUB_OUTPUT
            echo "EOF" >> $GITHUB_OUTPUT
          fi

      - name: Notify Mattermost
        if: steps.fetch_prs.outputs.OLD_PRS_FOUND == 'true'
        uses: greenbone/actions/mattermost-notify@v3
        with:
          url: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
          channel: ${{ inputs.channel }}
          message: ${{ steps.fetch_prs.outputs.MESSAGE_TEXT }}
          repository: ${{ github.repository }}
          commit: ${{ github.sha }}
          branch: ${{ github.ref_name }}
          status: "warning"
          workflow: ${{ github.run_id }}
          workflow-name: ${{ github.workflow }}
