name: Test Python package

on:
  workflow_call:
    inputs:
      python-version:
        description: "Python version to use"
        default: "3.10"
        type: string
      test-command:
        description: "Command to run the unit tests"
        default: "python -m unittest -v"
        type: string

jobs:
  test:
    name: Run all tests
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install python, poetry and dependencies
        uses: greenbone/actions/poetry@v3
        with:
          python-version: ${{ inputs.python-version }}
      - name: Run unit tests
        run: poetry run ${{ inputs.test-command }}
