name: Check Python package type hints


on:
  workflow_call:
    inputs:
      mypy-arguments:
        description: "Additional arguments to mypy"
        default: ""
        type: string
      python-version:
        description: "Python version to use"
        default: "3.10"
        type: string

jobs:
  mypy:
    name: Check type information
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run mypy
        uses: greenbone/actions/mypy-python@v3
        with:
          mypy-arguments: ${{ inputs.mypy-arguments }}
          python-version: ${{ inputs.python-version }}
