name: Check Python package type hints


on:
  workflow_call:
    inputs:
      mypy-arguments:
        description: "Additional arguments to mypy"
        default: ""
        type: string
      python-version:
        description: "Python version to use"
        default: "3.10"
        type: string

jobs:
  mypy:
    name: Check type information
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run mypy
        uses: greenbone/actions/mypy-python@v3
        with:
          mypy-arguments: ${{ inputs.mypy-arguments }}
          python-version: ${{ inputs.python-version }}
